.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.section_one {
  background: url("../images/fon.png") center no-repeat;
  background-size: cover;
  position: relative;
  height: 850px;
  color: $white-color;
  font-family: Verdana;
  @media screen and (max-width: 1350px) {
    height: 730px;
  }
  @media screen and (max-width: 980px) {
    height: 750px;
  }
  @media screen and (max-width: 820px) {
    height: 706px;
  }
  @media screen and (max-width: 755px) {
    height: 695px;
  }
  @media screen and (max-width: 640px) {
    height: 670px;
  }
  @media screen and (max-width: 545px) {
    height: 620px;
  }
  @media screen and (max-width: 280px) {
    height: 535px;
  }
  .wrapper {
    @extend %wrapper;
    @extend %flex;
    .header {
      @extend %flex;
      flex-basis: 100%;
      align-self: flex-start;
      justify-content: space-between;
      margin-top: 67px;
      @media screen and (max-width: 1350px) {
        margin-bottom: 70px;
      }
      @media screen and (max-width: 980px) {
        margin-bottom: 20px;
      }
      .logo {
        @extend %logo;
      }
      .menu {
        @extend %flex;
        font-size: $menu-font-size;
        text-transform: uppercase;
        letter-spacing: 0.1px;
        margin-top: 8px;
        @media screen and (max-width: 930px) {
          display: none;
        }
        &_item {
          margin-left: 48px;
          a {
            color: #fff;
            text-decoration: none;
            &:hover {
              color: $red-color;
              transition: all 0.3s ease;
              cursor: pointer;
            }
          }
          &:hover {
            color: $red-color;
            transition: all 0.3s ease;
            cursor: pointer;
          }
        }
        &_item_line_red {
          margin-right: 2px;
          border-bottom: 2px solid #fe504f;
          &:hover {
            color: $red-color;
            transition: all 0.3s ease;
            cursor: pointer;
          }
        }
      }
      .menu940 {
        display: none;
        @media screen and (max-width: 940px) {
          display: block;
          float: right;
          font-size: 30px;
          &:hover {
            color: $red-color;
          }
        }
        @media screen and (max-width: 640px) {
          font-size: 27px;
        }
        @media screen and (max-width: 393px) {
          font-size: 25px;
        }
        .menu_copy {
          display: none;
          position: absolute;
          font-size: 36px;
          font-family: Verdana;
          text-transform: uppercase;
          text-align: center;
          letter-spacing: 0.1px;
          color: $white-color;
          width: 100%;
          top: 0;
          left: 0;
          z-index: 1;
          @media screen and (max-width: 820px) {
            font-size: 32px;
          }
          @media screen and (max-width: 640px) {
            font-size: 28px;
          }
          @media screen and (max-width: 545px) {
            font-size: 24px;
          }
          @media screen and (max-width: 280px) {
            font-size: 20px;
          }
          .close {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 26px;
            color: $white-color;
            &:hover {
              color: $red-color;
            }
          }
          .menu_copy_item {
            padding-top: 48px;
            padding-bottom: 48px;
            width: 100%;
            background-color: $black-color;
            a {
              color: #fff;
              text-decoration: none;
            }
            @media screen and (max-width: 820px) {
              padding-top: 46px;
              padding-bottom: 46px;
            }
            @media screen and (max-width: 640px) {
              padding-top: 44px;
              padding-bottom: 44px;
            }
            @media screen and (max-width: 545px) {
              padding-top: 42px;
              padding-bottom: 42px;
            }
            @media screen and (max-width: 280px) {
              padding-top: 37px;
              padding-bottom: 37px;
            }
            &:hover {
              //color: $red-color;
              background-color: $gray-color;
            }
          }
        }
      }
    }
      .information {
        max-width: 60%;
        margin-bottom: 203px;
        position: relative;
        left: -2px;
        @media screen and (max-width: 1170px) {
          max-width: 70%;
          margin-bottom: 280px;
        }
        @media screen and (max-width: 765px) {
          max-width: 90%;
        }
        @media screen and (max-width: 640px) {
          max-width: 100%;
          margin-bottom: 330px;
        }
      }
      .h1 {
        font-weight: bold;
        font-size: $h1-font-size;
        line-height: 72px;
        @media screen and (max-width: 1350px) {
          font-size: 56px;
          line-height: 72px;
        }
        @media screen and (max-width: 1170px) {
          font-size: 48px;
          line-height: 64px;
        }
        @media screen and (max-width: 1020px) {
          font-size: 40px;
          line-height: 56px;
          margin-top: 90px;
        }
        @media screen and (max-width: 765px) {
          font-size: 34px;
          line-height: 46px;
        }
        @media screen and (max-width: 640px) {
          margin-top: 65px;
        }
        @media screen and (max-width: 543px) {
          font-size: 30px;
          margin-top: 60px;
        }
        @media screen and (max-width: 460px) {
          font-size: 28px;
          line-height: 40px;
        }
        @media screen and (max-width: 393px) {
          font-size: 24px;
          line-height: 34px;
        }
        @media screen and (max-width: 348px) {
          font-size: 20px;
          line-height: 34px;
        }
      }
      .text {
        max-width: 75%;
        font-size: $text-font-size;
        line-height: 27px;
        margin-top: 29px;
        margin-bottom: 46px;
        margin-left: 1px;
        @media screen and (max-width: 1350px) {
          font-size: 18px;
          margin-top: 30px;
        }
        @media screen and (max-width: 1170px) {
          font-size: 16px;
          margin-top: 20px;
        }
        @media screen and (max-width: 765px) {
          font-size: 14px;
          margin-top: 10px;
        }
        @media screen and (max-width: 393px) {
          font-size: 12px;
          margin-top: 10px;
        }
      }
      .button {
        @extend %flex;
        position: relative;
        top: -4px;
        left: 2px;
        justify-content: flex-start;

        .button_left {
          @extend %button;
          margin-right: 30px;
          @media screen and (max-width: 760px) {
            margin-right: 26px;
          }
          @media screen and (max-width: 393px) {
            margin-right: 20px;
          }
          @media screen and (max-width: 348px) {
            margin-right: 14px;
          }
          @media screen and (max-width: 280px) {
            display: none;
          }
        }
        .button_right {
          @extend .button_left;
          background-color: $black-color;
          margin-right: 0;
          @media screen and (max-width: 280px) {
            display: none;
          }
        }
      }
    }
  }

