.section_five {
  background: url("../images/play.png") center no-repeat;
  background-size: cover;
  height: 400px;
  font-family: Verdana;
  color: $white-color;
  .wrapper {
    @extend %wrapper;
    @extend %flex;
    align-items: flex-start;
    .button {
      flex-basis: 100%;
      text-align: center;
      margin-top: 91px;
      margin-bottom: -24px;
      @media screen and (max-width: 880px) {
        margin-top: 50px;
        margin-bottom: 0px;
      }
      @media screen and (max-width: 393px) {
        margin-top: 30px;
        margin-bottom: 0px;
      }
      &_circle {
        height: 92px;
        width: 92px;
        border-radius: 45px;
        background-color: $red-color;
        border: 0;
        .transparent {
          background-color: $red-color;
          border: 16px solid transparent;
          border-left: 22px solid white;
          border-radius: 5px;
          margin-left: 30px;
        }
      }
    }
    .h2 {
      margin:0 auto;
      font-size: $h2-font-size;
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      @media screen and (max-width: 820px) {
        font-size: 4vw;
        line-height: 7vw;
      }
    }
    .p {
      display: block;
      max-width: 84%;
      margin: 0 auto;
      line-height: 23px;
      font-size: $p-text-font-size;
      text-align: center;
      position: relative;
      top: -33px;
      left: -9px;
      @media screen and (max-width: 1323px) {
        font-size: 14px;
        position: relative;
        top: 0;
        left: 0;
        max-width: 100%;
      }
      @media screen and (max-width: 393px) {
        font-size: 12px;
      }
    }
  }
}