@font-face {
  font-family: Ubuntu-Regular;
  src: url(../fonts/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: bebas-neue;
  src: url(../fonts/bebas-neue.ttf);
}
@font-face {
  font-family: BreeSerif-Regular;
  src: url(../fonts/BreeSerif-Regular.ttf);
}
@font-face {
  font-family: UbuntuCondensed-Regular;
  src: url(../fonts/UbuntuCondensed-Regular.ttf);
}
@font-face {
  font-family: Ubuntu-Medium;
  src: url(../fonts/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: Ubuntu-Light;
  src: url(../fonts/Ubuntu-Light.ttf);
}