
.section_four {
  font-size: $text-font-size;
  font-family: Verdana;
  background-color: $white-color;
  color: $gray-color;
  margin-top: 75px;
  margin-bottom: 13px;
  .wrapper {
    @extend %wrapper;
    .block {
      display: block;
      .bx-wrapper {
        box-shadow: none;
        left: -8px;
        top: 3px;
        max-width: 95% !important;
        @media screen and (max-width: 1323px) {
          max-width: 700px !important;
          margin: 0 auto;
          left: 0px;
        }
        img{
          width: 100% !important;
        }
      }
      .bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
        bottom: -19px;
        left: -4px;
      }
      .bx-wrapper .bx-pager.bx-default-pager a {
        margin: 0 2px;
      }
      .bx-wrapper .bx-pager.bx-default-pager a { //pointer
        background: $gray-color;
        width: 35px;
        height: 3.5px;
        border-radius: inherit;
      }
      .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
        background: $red-color;
      }
      &_top {
        @extend %info;
        display: block;
        margin-bottom: 11px;
        .h3 {
          @extend %h3;
        }
        .p {
          @extend %p;
          padding-left: 1px;
        }
      }
      &_center_left {
        display: inline-block;
        float: left;
        width: 50%;
        position: relative;
        @media screen and (max-width: 1323px) {
          display: block;
          margin: 0 auto;
          float: none;
          text-align: center;
          width: 100%;
        }
        .h4 {
          @extend %h4;
          @media screen and (max-width: 1323px) {
            text-align: center;
          }
        }
        .line {
          @extend %line;
          @media screen and (max-width: 1323px) {
            margin: 0 auto;
            margin-top: 14px;
            margin-bottom: 22px;
          }
        }
        .p {
          color: $black-color;
          line-height: 24px;
          font-size: $p-font-size;
          max-width: 91.5%;
          @media screen and (max-width: 1323px) {
            margin: 0 auto;
            text-align: center;
          }
          @media screen and (max-width: 393px) {
            font-size: 12px;
          }
        }
      }
      &_center_right {
        display: inline-block;
        width: 50%;
        position: relative;
        left: 38px;
        top:1px;
        margin-bottom: -15px;
        @media screen and (max-width: 1323px) {
          display: block;
          width: 100%;
          margin: 0 auto;
          left: 0;
          text-align: center;
          margin-top: 40px;
          margin-bottom: 50px;
        }
        .h4 {
          @extend %h4;
          position: relative;
          left: -4px;
          @media screen and (max-width: 1323px) {
            text-align: center;
          }
        }
        .line {
          @extend %line;
          position: relative;
          left: -4px;
          @media screen and (max-width: 1323px) {
            margin: 0 auto;
            margin-top: 14px;
            margin-bottom: 22px;
          }
        }
        .container {
          display: block;
          width: 100%;
          margin: 0 auto;
          .cell {
            display: inline-block;
            width: 32.33%;
            float: left;
            margin-bottom: 6px;
            margin-right: 1%;
            .img {
              width: 100%;
            }
          }
        }
      }
      &_bottom {
        display: block;
        width: 100%;
        position: relative;
        left: -1px;
        @media screen and (max-width: 1323px) {
          margin: 0 auto;
          position: relative;
          top:10px;
          text-align: center;
        }
        .h4 {
          @extend %h4;
          color: $red-color;
        }
        .line {
          @extend %line;
          margin-top: 13px;
          margin-bottom: 30px;
          max-width: 52px;
          @media screen and (max-width: 1323px) {
            margin: 0 auto;
            margin-top: 14px;
            margin-bottom: 22px;
          }
        }
        .container {
          @extend %flex;
          flex-direction: row;
          justify-content: center;
          margin-bottom: 69px;
          .cell {
            @extend %flex;
            .leader {
              background-color: $red-color;
              color: $white-color;
              height: 200px;
              width: 200px;
              &_wrapper {
                margin-left: 19px;
                margin-right: 20px;
                .h2 {
                  max-width: 130px;
                  line-height: 38px;
                  font-size: 32px;
                  font-weight: bold;
                  margin-top: 15px;
                  padding-right: 30px;
                  margin-bottom: 49px;
                }
                .h5 {
                  max-width: 130px;
                  font-size: 12px;
                  font-weight: bold;
                  line-height: 10px;
                  padding-bottom: 8px;
                  padding-right: 30px;
                  border-top: 0.1px solid #adadad;
                  padding-top: 12px;
                }
                .h6 {
                  font-size: 12px;
                  line-height: 10px;
                  max-width: 130px;
                  padding-left: 1px;
                }
              }
            }
          }
        }
      }
    }
  }
}
