.footer_post {
  height: 102px;
  width: 100%;
  background-color: $black-color;
  color: $red-color;
  position: relative;
  left: 0px;
  top:56px;
  font-family: Verdana;
  .wrapper {
    @extend %wrapper;
    @extend %flex;
    justify-content: space-between;
    .text {
      font-weight: bold;
      font-size: $footer-text-font-size;
      text-transform: uppercase;
      color: $white-color;
      @media screen and (max-width: 830px) {
        display: none;
      }
    }
    .social_networks {
      position: relative;
      left: -54px;
      top: 1px;
      @media screen and (max-width: 830px) {
        left: 0;
      }
      .in {
        color: $red-color;
        text-decoration: none;
        padding-right: 16px;
        padding-left: 11px;
        border-right: 1px solid #fe504f;
        @media screen and (max-width: 830px) {
          padding-right: 16px;
          padding-left: 8px;
        }
        &:first-child {
          padding-right: 18px;
        }
        &:nth-child(2) {
          padding-left: 8px;
          padding-right: 12px;
        }
        &:nth-child(4) {
          border-right: 0px solid #fe504f;
          padding-right: 0px;
        }
      }
    }
  }
}