.section_second_post {
  font-family: Verdana;
  color: $black-color;
  margin-bottom: 30px;
  .wrapper {
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
       .text {
        padding-right: 55px;
        padding-left: 51px;
        padding-top: 37px;
        font-size: 14px;
        line-height: 26px;
         @media screen and (max-width: 630px) {
           font-size: 12px;
           line-height: 22px;
         }
        .p {
          font-size: 18px;
          position: relative;
          top: -4px;
          padding-bottom: 15px;
        }
      }
      .comments {
        width: 100%;
        margin-top: 57px;
        .h3 {
          margin-right: 55px;
          margin-left: 51px;
          font-size: 18px;
          color: $black-color;
        }
        .line_red {
          margin-right: 55px;
          margin-left: 51px;
          height: 3px;
          max-width: 114px;
          margin-top: 6px;
          background-color: $red-color;
        }
        .line_grey {
          margin-right: 36px;
          margin-left: 51px;
          height: 1px;
          max-width: 100%;
          background-color: $gray-color;
          @media screen and (max-width: 850px) {
            margin-right: 49px;
          }
          @media screen and (max-width: 600px) {
            margin-right: 72px;
          }
          @media screen and (max-width: 530px) {
            margin-right: 65px;
          }
          @media screen and (max-width: 470px) {
            margin-right: 50px;
          }
          @media screen and (max-width: 370px) {
            margin-right: 40px;
          }
        }
      }
      .form {
        display: block;
        width: 92%;
        margin-right: 4%;
        margin-left: 4%;
        @media screen and (max-width: 1350px) {
          margin-right: 3%;
          margin-left: 5%;
        }
        @media screen and (max-width: 850px) {
          margin-right: 5%;
          margin-left: 7%;
          width: 88%;
        }
        @media screen and (max-width: 600px) {
          margin-right: 4%;
          margin-left: 9%;
          width: 79%;
        }
        @media screen and (max-width: 520px) {
          margin-right: 3%;
          margin-left: 10%;
          width: 79%;
        }
        @media screen and (max-width: 440px) {
          margin-right: 3%;
          margin-left: 12%;
          width: 77%;
        }
        .comment {
          display: inline-block;
          float: left;
          width: 82%;
          border: 2px solid $gray-color;
          background-color: $white-color;
          color: $gray-color;
          font-size: 18px;
          letter-spacing: 1.5px;
          padding-top: 8px;
          padding-bottom: 8px;
          padding-left: 2%;
          margin-top: 30px;
          margin-right: 2.6%;
          @media screen and (max-width: 1100px) {
            width: 77.5%
          }
          @media screen and (max-width: 760px) {
            width: 73.5%;
            font-size: 16px;
          }
          @media screen and (max-width: 615px) {
            width: 69.5%;
          }
          @media screen and (max-width: 565px) {
            width: 65.5%;
            font-size: 14px;
          }
          @media screen and (max-width: 495px) {
            width: 61.5%;
          }
          @media screen and (max-width: 380px) {
            width:57.5%;
          }
         }
        .submit_comment {
          display: inline-block;
          float: left;
          width: 13%;
          background-color: $black-color;
          color:  $red-color;
          font-size: 12px;
          text-transform: uppercase;
          padding-top: 13px;
          padding-bottom: 13px;
          margin-top: 31px;
          border: 0;
          outline: none;
          @media screen and (max-width: 1580px) {
            font-size: 10px;
          }
          @media screen and (max-width: 1100px) {
            width: 16%;
          }
          @media screen and (max-width: 760px) {
            width: 20%;
          }
          @media screen and (max-width: 615px) {
            width: 24%;
          }
          @media screen and (max-width: 565px) {
            width:28%;
            padding-top: 12px;
            padding-bottom: 12px;
          }
          @media screen and (max-width: 495px) {
            width:32%;
            font-size: 2.2vw;
          }
          @media screen and (max-width: 380px) {
            width:36%;
          }
        }
      }
    }
  }
