.section_six {
  background-color: $white-color;
  color: $gray-color;
  font-family: Verdana;
  position: relative;
  left: -1px;
  margin: 0 auto;
  margin-top: 77px;
  .wrapper {
    @extend %wrapper;
    .info {
      @extend %info;
      max-width: 94%;
      .h3 {
        @extend %h3;
      }
      .p {
        @extend %p;
      }
    }
    .container {
      display: block;
      margin-top: 15px;
      margin-bottom: 79px;
      width: 1200px;
      height: 600px;
      @media screen and (max-width: 1320px) {
        width: 80%;
        margin: 0 auto;
        height: auto;
        margin-top: 15px;
        margin-bottom: 79px;
      }
      @media screen and (max-width: 940px) {
        width: 100%;
      }
      .cell {
        display: inline-block;
        float: left;
        width: 900px;
        height: 300px;
        @media screen and (max-width: 1320px) {
          width: 100%;
          height: auto;
          margin-bottom: 60px;
        }
        .image {
          display: inline-block;
          float: left;
          width: 600px;
          height: 300px;
          @media screen and (max-width: 1320px) {
            width: 100%;
            height: auto;
          }
        }
        .cell_text {
          display: inline-block;
          float: left;
          background-color: $black-color;
          color: $red-color;
          width:300px;
          height: 300px;
          background-color: $black-color;
          color: $red-color;
          @media screen and (max-width: 1320px) {
            width: 100%;
            height: auto;
          }
          .h3 {
            padding-right: 30px;
            padding-left: 31px;
            padding-top: 23px;
            padding-bottom: 27px;
            font-size: $h3-font-size;
            font-weight: bold;
            line-height: 26px;
            text-transform: uppercase;
            @media screen and (max-width: 390px) {
              font-size: 15px;
              padding-right: 20px;
              padding-left: 20px;
            }
          }
          .line {
            @extend %line;
            margin-left: 30px;
            margin-top: -17px;
            margin-bottom: 13px;
            height: 3px;
            @media screen and (max-width: 390px) {
              margin-left: 20px;
            }
          }
          .p {
            padding-right: 30px;
            padding-left: 30px;
            color: $white-color;
            line-height: 20px;
            font-size: $footer-text-font-size;
            @media screen and (max-width: 390px) {
              display: none;
            }
          }
          .data {
            font-style: italic;
            text-align: right;
            margin-top: 31px;
            margin-right: 30px;
            font-size: $footer-text-font-size;
            margin-bottom: -2px;
            @media screen and (max-width: 1320px) {
              margin-bottom: 25px;
            }
          }
          .transparent{
            height: 30px;
            width: 30px;
            transform: rotate(-45deg);
            position: relative;
            background-color:$black-color;
            top: -232px;
            left: -15px;
            @media screen and (max-width: 1320px) {
              display: none;
            }
          }
        }
      }
      .cell_copy1 {
        display: inline-block;
        float: left;
        width: 900px;
        height: 300px;
        @media screen and (max-width: 1320px) {
          width: 100%;
          height: auto;
          margin-bottom: 60px;
        }
        .image {
          display: inline-block;
          float: right;
          width: 600px;
          height: 300px;
          @media screen and (max-width: 1320px) {
            width: 100%;
            height: auto;
          }
        }
        .cell_text {
          display: inline-block;
          float: right;
          background-color: $black-color;
          color: $red-color;
          float: left;
          width: 300px;
          height: 300px;
          @media screen and (max-width: 1320px) {
            width: 100%;
            position: relative;
            height: auto;
          }
          .h3 {
            padding-right: 30px;
            padding-left: 30px;
            padding-top: 23px;
            padding-bottom: 27px;
            font-size: $h3-font-size;
            font-weight: bold;
            line-height: 26px;
            text-transform: uppercase;
            @media screen and (max-width: 390px) {
              font-size: 15px;
              padding-right: 20px;
              padding-left: 20px;
            }
          }
          .line {
            @extend %line;
            margin-left: 30px;
            margin-top: -17px;
            margin-bottom: 13px;
            height: 3px;
            @media screen and (max-width: 390px) {
              margin-left: 20px;
            }
          }
          .p {
            padding-right: 30px;
            padding-left: 30px;
            color: $white-color;
            line-height: 20px;
            font-size: $footer-text-font-size;
            @media screen and (max-width: 390px) {
              display: none;
            }
          }
          .data {
            font-style: italic;
            text-align: right;
            margin-top: 44px;
            margin-right: 30px;
            font-size: 12px;
            margin-bottom: -1px;
            @media screen and (max-width: 1320px) {
              margin-bottom: 29px;
            }
          }
          .transparent{
            height: 30px;
            width: 30px;
            transform: rotate(45deg);
            position: relative;
            top: -232px;
            left: 282px;
            background-color:$black-color;
            @media screen and (max-width: 1320px) {
              display: none;
            }
          }
        }
      }
      .cell_copy2 {
        display: inline-block;
        //float: left;
        width: 25%;
        @media screen and (max-width: 1320px) {
          width: 100%;
        }
        .image {
          display: inline-block;
          float: left;
          width: 100%;
          @media screen and (max-width: 1320px) {
            width: 50%;
          }
        }
        .image1 {
          display: none;
          @media screen and (max-width: 1320px) {
            width: 50%;
            display: inline-block;
            float: left;
          }
        }
        .cell_text {
          display: inline-block;
          float: left;
          background-color: $black-color;
          color: $red-color;
          float: left;
          width: 100%;
          height: 300px;
          @media screen and (max-width: 1320px) {

            height: auto;
          }
          .h3 {
            padding-right: 30px;
            padding-left: 31px;
            padding-top: 23px;
            padding-bottom: 27px;
            font-size: $h3-font-size;
            font-weight: bold;
            line-height: 26px;
            text-transform: uppercase;
            @media screen and (max-width: 390px) {
              font-size: 15px;
              padding-right: 20px;
              padding-left: 20px;
            }
          }
          .line {
            @extend %line;
            margin-left: 30px;
            margin-top: -17px;
            margin-bottom: 13px;
            height: 3px;
            @media screen and (max-width: 390px) {
              margin-left: 20px;
            }
          }
          .p {
            padding-right: 30px;
            padding-left: 30px;
            color: $white-color;
            line-height: 20px;
            font-size: $footer-text-font-size;
            @media screen and (max-width: 390px) {
              display: none;
            }
          }
          .data {
            font-style: italic;
            text-align: right;
            margin-top: 24px;
            margin-right: 30px;
            font-size: 12px;
            margin-bottom: -1px;
            @media screen and (max-width: 1320px) {
              margin-bottom: 29px;
            }
          }
          .transparent{
            height: 30px;
            width: 30px;
            transform: rotate(-45deg);
            position: relative;
            top: -285px;
            left: 232px;
            background-color:$black-color;
            @media screen and (max-width: 1320px) {
              display: none;
            }
          }
        }
      }
    }
  }
}

